In [10]:
french_stopwords = ['au', 'aux', 'avec', 'ce', 'ces', 'dans', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux', 'il', 'ils', 'ha', 'je', 'la', 'le', 'les', 'leur', 'lui', 'ma', 'mais', 'me', 'même', 'mes', 'moi', 'mon', 'ne', 'nos', 'notre', 'nous', 'on', 'ou', 'par', 'pas', 'pour', 'qu', 'que', 'qui', 'sa', 'se', 'ses', 'son', 'sur', 'ta', 'te', 'tes', 'toi', 'ton', 'tu', 'un', 'une', 'vos', 'votre', 'vous', 'c', 'd', 'j', 'l', 'à', 'm', 'n', 's', 't', 'y', 'été', 'étée', 'étées', 'étés', 'étant', 'étante', 'étants', 'étantes', 'suis', 'es', 'est', 'sommes', 'êtes', 'sont', 'serai', 'seras', 'sera', 'serons', 'serez', 'seront', 'serais', 'serait', 'serions', 'seriez', 'seraient', 'étais', 'était', 'étions', 'étiez', 'étaient', 'fus', 'fut', 'fûmes', 'fûtes', 'furent', 'sois', 'soit', 'soyons', 'soyez', 'soient', 'fusse', 'fusses', 'fût', 'fussions', 'fussiez', 'fussent', 'ayant', 'ayante', 'ayantes', 'ayants', 'eu', 'eue', 'eues', 'eus', 'ai', 'as', 'avons', 'avez', 'ont', 'aurai', 'auras', 'aura', 'aurons', 'aurez', 'auront', 'aurais', 'aurait', 'aurions', 'auriez', 'auraient', 'avais', 'avait', 'avions', 'aviez', 'avaient', 'eut', 'eûmes', 'eûtes', 'eurent', 'aie', 'aies', 'ait', 'ayons', 'ayez', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent']

In [13]:
import pandas as pd
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [14]:
labels = []

for sentence in test_data['text']:
    text_tokens = sentence.split()
    for i in range(0, len(text_tokens)): 
         isFrench = False 
         
         for j in range(0, len(french_stopwords)):    
                if(text_tokens[i] == french_stopwords[j]):  
                      labels.append("French")
                      isFrench = True
                      break
         
         if isFrench == True:
            break
          
    if isFrench == False:
            labels.append("English")

In [15]:
test_data['target'] = labels

In [16]:
test_data.head(40)

,Unnamed: 0,text,label,target
0,7423,Incarnant l'esprit d'indÃ©pendance de l'AFP et...,French,French
1,3555,While Aziz was most notably recognised for his...,English,English
2,3764,Ahmed also gave at least one scientist a cryst...,English,English
3,7733,Une transcription par Emil Posch se trouve Ã©g...,French,French
4,2453,The museum of Sa'dabad Palace is situated at t...,English,English
5,7519,"Bien qu'ils ne peuvent plus me gÃªner, je suis...",French,French
6,830,"At the beginning of the 14th century, the Cata...",English,English
7,4642,"In 1976, he was sent to Portugal for officer t...",English,English
8,3713,Keyhaven was a port as early as 1206.,English,French
9,2774,Hubo Belgium and Hubo Netherlands are two sepa...,English,English
10,883,The rains from Bob led to a record flow rate a...,English,English
11,5350,"Pour des raisons Ã©conomiques, le traitement d...",French,French
12,9395,1797Â Â» et Â«Â Amazon 13 Jany.,French,French
13,9625,"Cette annÃ©e-lÃ , le gouvernement nÃ©erlandais...",French,French
14,8695,C'Ã©tait un royaume sacrÃ© dont Rome et la pap...,French,French
15,1077,The episode of the Trojan horse certainly coul...,English,French
16,6015,L'agent doit avoir de grandes chances d'Ãªtre ...,French,French
17,723,When it became clear that the government was n...,English,English
18,2289,It also hastened the weakening and decline of ...,English,English
19,2929,"On August 10, Patton slapped Private Paul G. B...",English,English
20,6488,Richard et JosÃ©e ont Ã leur crÃ©dit plus de ...,French,French
21,4853,He also commanded the division in the Departme...,English,English
22,344,"The association, represented by its President ...",English,French
23,848,"Some examples of Jaillot's maps, published alo...",English,English
24,5177,"Chicago commence l'annÃ©e 4â0, son meilleur ...",French,French
25,4417,"Later, he served in the imperial army, possibl...",English,English
26,7827,Il est transfÃ©rÃ© Ã la prison de Drapchi en ...,French,French
27,4594,The remaining team participates through a wild...,English,English
28,572,She highlights the alternative views of global...,English,English
29,8777,"Finalement, j'ai dÃ©cidÃ© que je serais mieux ...",French,French
30,8826,"NÃ©anmoins, en tant que membre du Conseil camb...",French,French
31,6124,Les qualitÃ©s thÃ©oriques et lâintÃ©rÃªt cli...,French,French
32,2997,The Asiento allowed Britain a monopoly to supp...,English,English
33,1426,He also served as the first Vice President of ...,English,French
34,5844,"Depuis 629, ce systÃ¨me dÃ©cimal est bien conn...",French,French
35,7738,"Pour cette raison, un petit quartier dÃ©velopp...",French,French
36,499,"In 2011, Lee wrote that she was learning Engli...",English,French
37,9144,L'un d'eux est le fait que le roi Mohammed VI ...,French,French
38,9660,Nixon et son administration supposaient que le...,French,French
39,6273,La formule de classement utilisÃ©e dâaoÃ»t 1...,French,French

In [22]:
test_data['Match'] = test_data.target.eq(test_data.label).astype(int)

In [23]:
dfg = test_data.groupby('label').Match.value_counts(normalize=True).mul(100).round(2).reset_index(name='%')

In [24]:
dfg

     label  Match      %
0  English      1  78.79
1  English      0  21.21
2   French      1  98.07
3   French      0   1.93